version: 2.1
orbs:
  gcs: t3n/gcs@0.1.3
  gcp-gcr: circleci/gcp-gcr@0.6.1
  gke: circleci/gcp-gke@x.y.z
  cloudrun: circleci/gcp-cloud-run@1.0.0
jobs:
  build-images:
    docker:
      - image: circleci/python:3.7.4
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build app binary and Docker image
          command: |
            echo 'export PATH=~$PATH:~/.local/bin' >> $BASH_ENV
      - gcp-gcr/gcr-auth:
          gcloud-service-key: GOOGLE_CLOUD_KEYS
          google-project-id: GOOGLE_PROJECT_ID
          google-compute-zone: GOOGLE_COMPUTE_ZONE
      - gcp-gcr/push-image:
          google-project-id: GOOGLE_PROJECT_ID
          registry-url: "us.gcr.io"
          image: $IMAGE_NAME
      - cloudrun/deploy:
          platform: "managed"
          image: "us.gcr.io/$GOOGLE_PROJECT_ID/$IMAGE_NAME"
          service-name: "orb-gcp-cloud-run"
          region: $GOOGLE_COMPUTE_ZONE
          unauthenticated: true
workflows:
  version: 2
  lint:
    jobs:
      - build-images
  sync:
    triggers:
      - schedule:
          cron: "23,53 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build-images
